{% include 'header.html' %}

<div class="container">


<h2>Details : </h2><hr/>


	<div class="card mb-3">
		<img class="card-img-top" src="{{blog.image.url}}" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{blog.title}}</h5>
			<p class="card-text">{{blog.body}}</p>
			<p class="card-text"><small class="text-muted">Creation date : {{blog.pub_date_pretty}}</small></p>
		</div>
		<a href="{% url 'blog:blog' %}" class="btn btn-primary my-2">Go back to Home</a>
	</div>






</div>
{% include 'footer.html' %}