{% include 'header.html' %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Hi, I'm Badreddine</h1>
      <p class="lead text-muted">welcome to this django website</p>
      <p>
        <a href="mailto:bidoulibadreddine@gmail.com" class="btn btn-primary my-2">Email-me</a>
      </p>
    </div>
  </section>

  
  <div class="album py-5 bg-light">
  	<div class="container">

  		<div class="row">

  			{% for job in object_list %}

  			<div class="col-md-4">
  				<div class="card mb-4 box-shadow"  style="width: 18rem; ">
  					<img class="card-img-top" src="{{job.image.url}}" height="150" width="150" />
  					<div class="card-body">
  						<p class="card-text">{{job.summary}}</p>
  					</div>
  				</div>
  			</div>
  			{% endfor %}

  		</div>
  	</div>
  </div>


</main>

{% include 'footer.html' %}